@import url('https://fonts.googleapis.com/css2? family= Raleway:ital@1 & display=swap');
</style>

h2 { 
    font-size: 26px;
    font-style: italic;
}

h1 {
    font-size: 52px;
    font-style: bold;
}

p {

    
}